.head{
    display: flex;
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 47, 88);
  }
  
  .head video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header{
    padding: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  
  .popular-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  
  .header h1,p,span,a{
    color: white;
    text-decoration: none;
  }
  
  .container-fluid{
    max-width: 500px;
  }
  
  .input-group{
    border-radius: 30px;
  }
  
  .trending-searches{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .trending-searches span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px;
    color: white;
    font-size: 3px;
  }
  
  .popular {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .popular div{
    border: 1px solid white;
    min-width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(65, 61, 61);
  }
  
  .popular div a{
    font-size: 3px;
    padding: 2px;
  }
  
  .popular div:hover {
    background-color: white;
  }
  
  .popular div:hover a {
    color: black;
  }
  
  
  @media screen and (max-width:1024px){
    .header{
      width: 100%;
    }
  }
  
  .popular::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar for Chrome, Safari, and Opera */
  }
  
  .popular > div {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(65, 61, 61);
    color: white;
    font-size: 20px;
    scroll-snap-align: center; /* Snap each div to the center */
  }
  
  